@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Sorts+Mill+Goudy:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./background_image.jpg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

#container {
  max-width: 77.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  margin: auto;
}

.title {
  font-size: 3.1rem;
  color: #fff;
  font-family: "Bowlby One SC", cursive;
}

span {
  color: #ff0000;
}

.description {
  font-family: "Sorts Mill Goudy", serif;
  color: #fff;
}

header {
  text-align: center;
}

textarea {
  resize: none;
}

#survey-form-container {
  width: 31rem;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 2rem 2.5rem;
}

#name,
#age,
#email,
#dropdown,
#feedback {
  width: 100%;
  padding: 0.7rem 0.6rem;
  margin-top: 0.6rem;
}

.input-box {
    margin-top: 0.6rem;
}

#form-button {
    height: 3rem;
    width: 10rem;
    background-color: #ff0000;
    color: #fff;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.form-submit {
    width: 10rem;
    margin: auto;
    margin-top: 1rem;
}

@media screen and (max-width:1000px){
  html {
    font-size: 13px;
  }
}

@media screen and (max-width:800px){
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:600px){
  html {
    font-size: 11px;
  }
}